:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    255,255,255;
    --color-neutral-300:    255,255,255;
    --color-neutral-400:    219,229,209;
    --color-neutral-500:    181,202,160;
    --color-neutral-600:    161,187,134;
    --color-neutral-700:    140,173,108;
    --color-neutral-800:    120,154,86;
    --color-neutral-900:    99,128,71;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    255,255,255;
    --color-primary-300:    222,231,227;
    --color-primary-400:    178,198,189;
    --color-primary-500:    134,166,151;
    --color-primary-600:    110,149,131;
    --color-primary-700:    93,126,110;
    --color-primary-800:    75,102,90;
    --color-primary-900:    58,79,69;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    255,255,255;
    --color-secondary-300:    255,255,255;
    --color-secondary-400:    243,238,235;
    --color-secondary-500:    215,196,187;
    --color-secondary-600:    200,174,161;
    --color-secondary-700:    185,151,136;
    --color-secondary-800:    170,129,110;
    --color-secondary-900:    150,108,88;
    }