:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    245,250,247;
    --color-neutral-300:    194,224,208;
    --color-neutral-400:    144,198,168;
    --color-neutral-500:    93,172,129;
    --color-neutral-600:    76,148,109;
    --color-neutral-700:    62,121,89;
    --color-neutral-800:    48,94,69;
    --color-neutral-900:    34,67,49;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    255,255,255;
    --color-primary-300:    251,234,239;
    --color-primary-400:    238,171,189;
    --color-primary-500:    225,107,140;
    --color-primary-600:    218,73,114;
    --color-primary-700:    208,42,89;
    --color-primary-800:    174,35,74;
    --color-primary-900:    140,28,60;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    224,205,232;
    --color-secondary-300:    191,153,207;
    --color-secondary-400:    159,101,183;
    --color-secondary-500:    119,66,141;
    --color-secondary-600:    96,53,113;
    --color-secondary-700:    72,40,85;
    --color-secondary-800:    49,27,58;
    --color-secondary-900:    25,14,30;
    }